
@font-face {
    font-family: 'Roboto';
    src: url('Supercell.ttf');
}

.text {
    -fx-font-family: "Roboto";
}

.cardBackground {
    -fx-background-image: url('/client/Images/WoodTexture.jpg');
    -fx-background-size: 100% 100%;
    -fx-border-color: #4b1f07;
}